/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --line-height-text: 1.6rem;
    --line-height-title: 2.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    margin-right: 1.2rem;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.7rem;
}

.header__link {
    background-color: #0050C8;
    padding: 0.8rem 1.5rem;
    color: #FFF;
    border-radius: 0.6rem;
}

.header__icon {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

/* Header Bottom */

.header-bottom {
    margin-top: 5rem;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-content__left {
    flex-basis: 50%;

}

.header-content__right {
    flex-basis: 50%;
}

.header-content__wrapper {
    max-width: 28rem;

}

.header-content__title {
    color: #081D43;
    font-weight: bold;
    line-height: var(--line-height-title);
}

.header-content__text {
    color: #6C7890;
    line-height: var(--line-height-text);
}

.header-content__links {
    display: flex;
    justify-content: start;
    gap: 0.8rem;
    margin-top: 1.5rem;
}

.header-content__link {
    display: block;
    background-color: #0050C8;
    padding: 0.8rem 1.5rem;
    color: #FFF;
    border-radius: 0.6rem;
}

.header-content__link:nth-child(1) {
    background-color: #87BC25;

}

.header-content__img {
    width: 100%;

}


/* section work  */

.main {}

.works {
    text-align: center;
    padding: 2rem 7rem;
}

.works__text {
    margin-bottom: 1rem;
    color: #6C7890;
}

.works__title {
    margin-bottom: 3rem;
}

.works-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;

}

.works-content__item {
    text-align: center;

}

.works-content__title {
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.works-content__text {
    line-height: var(--line-height-text);
    color: #6C7890;

}

.works-img {
    max-width: 31rem;
    margin: auto;
}

.works-img__img {
    width: 100%;
}


/* Section Comments  */

.person-comments {
    background-color: #0050C8;
    padding: 5rem 0;
}

.person-comments__title {
    line-height: var(--line-height-title);
    text-align: center;
    margin: auto;
    color: #FFF;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.person-comments__text {
    text-align: center;
    line-height: var(--line-height-text);
    max-width: 31rem;
    margin: auto;
    color: #cbd1e0;
    font-size: 0.9rem;
}

.comments-containre {
    margin: 0 auto;
    max-width: 69rem;
}

.comments {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.comment {
    background-color: #FFF;
    max-width: 18rem;
    border-radius: 5px;
    min-height: 15rem;
    flex-basis: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment__content {
    padding: 1.5rem 1rem 0.5rem;
}

.comment__body {
    font-family: Times Roman Italic;
}

.comment__info {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    border-top: 2px solid hsl(220, 11%, 78%);
    padding: 1rem;
}

.comment__img {}

.comment__person {}

.companies {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.companies__img {
    display: block;
    max-width: 20rem;
    min-height: 1rem;
}

/* portfolio */
.portfolio {
    padding: 5rem;
}

.portfolio-top {
    text-align: center;

    margin-bottom: 3rem;
}

.portfolio-top__text {
    text-transform: uppercase;
}

.portfolio-top__title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.portfolio-item {
    flex-basis: 25rem;
}

.portfolio-item__img {
    width: 100%;
}

/* Footer */
.footer {

    background-color: #081D43;

}

.newsletters {

    padding: 10rem 0;
}

.newsletters-warapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.newsletters__text {
    color: #FFF;
    font-size: 1.5rem;
    display: block;
}

.newsletters__emails {

    display: flex;
    justify-content: center;
    flex-basis: 23rem;
    background-color: #FFFFFF;

    padding: 0.5rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.newsletters__input {
    height: 3rem;
    border: 0;
    outline: 0;
    flex-basis: 100%;
}

.newsletters__btn {
    background-color: #0050C8;
    padding: 1rem 1.5rem;
    border: 0;
    outline: 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 0.8rem;
    background-color: #6C7890;

    min-height: 3rem;
    text-align: center;
}

.copyright__p {
    display: block;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__link {
        display: none;
    }

    .header__icon {
        display: block;
    }

    .menu {

        position: fixed;
        top: 0;
        bottom: 0;
        left: -256px;
        background-color: #cbd1e0;
        flex-direction: column;
        width: 16rem;
        gap: 0;
        transition: all 200ms ease-in;

    }

    .menu__item {

        background-color: red;
    }

    .menu__link {
        background-color: #0050C8;
        display: inline-block;
        width: 100%;
        padding: 1rem;
        transition: all 100ms ease-in;
        box-shadow: 1px 1px 4px #cbd1e0;

    }

    .menu__link:hover {
        background-color: #cbd1e0;


    }
    .header__icon i{
        transition: all 400ms ease;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header-content {
       flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}